# Vim files
home/common/.vim/bundle/*
home/common/.vim/backup/*
home/common/.vim/spell/*
!home/common/.vim/bundle/Vundle.vim/

# Tmux files
home/common/.tmux/plugins/*
!home/common/.tmux/pluthins/tpm/
