[submodule "pure"]
    path = pure
    url = https://github.com/JonasHoelscher/pure.git
[submodule "vundle"]
    path = home/common/.vim/bundle/Vundle.vim
    url = https://github.com/JonasHoelscher/Vundle.vim.git
